data/cities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cities">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="City">
          <xs:complexType>
            <xs:attribute name="cityName" type="xs:string" use="required" />
            <xs:attribute name="color" type="xs:string" use="required" />
            <xs:attribute name="quarter" type="xs:unsignedByte" use="required" />
            <xs:attribute name="coordX" type="xs:unsignedShort" use="required" />
            <xs:attribute name="coordY" type="xs:unsignedShort" use="required" />
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="desc" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>