data/graphID.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="routes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="city">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:short" />
              <xs:element name="land">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="id" type="xs:short" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sea">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="id" type="xs:short" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>